body {
    background: #F4F4F4;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.legend-header {
    margin: 20px 0 10px 0;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 2px;
}

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
}

.popup:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.popup-inner {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    position: relative;
    max-width: 700px;
    width: 90%;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #fff;
    text-align: center;
}

.popup-close {
    font-size: 25px;
    position: absolute;
    top: 11px;
    right: 15px;
    color: #ffffff;
}

.popup-close:hover {
    color: #808080;
    /*#636C71*/
}

.popup-title-before {
    position: absolute;
    right: 0px;
    top: -43px;
    height: 43px;
}

.popup-title-box {
    content: '';
    position: absolute;
    width: 40px;
    height: 43px;
    right: 36%;
    display: block;
    background-color: #000;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.admin, .cms {
    position: relative;
    display: block;
    overflow: hidden;
    transform: rotate(25deg);
}

.cms {
    height: 250px;
    top: 70px;
    left: -62px;
    float: right;
    width: 150px;
    text-align: right;
    transition: all 200ms ease-in 100ms;
}

.popup-title-box:before {
    content: '';
    width: 33px;
    height: 0;
    top: 0px;
    right: 39px;
    position: absolute;
    border-top-right-radius: 3px;
    border-bottom: 43px solid #000;
    border-left: 33px solid transparent;
}

.popup-title {
    background-color: #000000;
    height: 50px;
    color: #ffffff;
}

.popup-title h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    line-height: 50px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.popup-title .popup-title-dices {
    position: absolute;
    left: 8%;
    top: -6%;
}

.popup-body {
    padding: 15px;
    background: #F4F4F4;
    color: #000;
    /*font-size: 24px;*/
    font-weight: 400;
}

.form-group .form-control {
    text-align: center;
}

@media only screen and (min-width: 680px) {
    .popup-title h2 {
        font-size: 1.2em;
    }
}