<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{  constant('Config::ASSETS_STYLES_ROOT') }}error.css">

</head>
<body class="plain error-page-wrapper background-color background-image">
<div class="content-container">
    <div class="head-line secondary-text-color">
        {% block statusCode %}{% endblock %}
    </div>
    <div class="subheader primary-text-color">
        {% block subheader %}{% endblock %}
    </div>
    <hr>
    <div class="clearfix"></div>
    <div class="context primary-text-color">
        <!-- doesn't use block because it's ALWAYS the same thing -->
        <p>
            You may want to head back to the homepage.
        </p>
    </div>
    <div class="buttons-container">
        <a class="border-button" href="/">Go To Homepage</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
    function ErrorPage(container, pageType, templateName) {
        this.$container = $(container);
        this.$contentContainer = this.$container.find(templateName == 'sign' ? '.sign-container' : '.content-container');
        this.pageType = pageType;
        this.templateName = templateName;
    }

    ErrorPage.prototype.centerContent = function () {
        var containerHeight = this.$container.outerHeight()
            , contentContainerHeight = this.$contentContainer.outerHeight()
            , top = (containerHeight - contentContainerHeight) / 2
            , offset = this.templateName == 'sign' ? -100 : 0;

        this.$contentContainer.css('top', top + offset);
    };

    ErrorPage.prototype.initialize = function () {
        var self = this;

        this.centerContent();
        this.$container.on('resize', function (e) {
            e.preventDefault();
            e.stopPropagation();
            self.centerContent();
        });

        // fades in content on the plain template
        if (this.templateName == 'plain') {
            window.setTimeout(function () {
                self.$contentContainer.addClass('in');
            }, 500);
        }

        // swings sign in on the sign template
        if (this.templateName == 'sign') {
            $('.sign-container').animate({textIndent : 0}, {
                step : function (now) {
                    $(this).css({
                        transform : 'rotate(' + now + 'deg)',
                        'transform-origin' : 'top center'
                    });
                },
                duration : 1000,
                easing : 'easeOutBounce'
            });
        }
    };

    {% block script %}{% endblock %}

    // hack to make sure content stays centered >_<
    $(window).on('resize', function() {
        $('body').trigger('resize')
    });

</script>


</body>
</html>
